<div *ngIf="customer" class="client-details">
    <h3>Client Details: {{customer.CustomerName}}</h3>
    <div class="paper">
    <p>Enter Client Details</p>
    <div class="detailform">
     <input type='hidden'  [(ngModel)] ="customer.CustomerModelID" />
      <p><label>Client Type.</label><select  [(ngModel)] ='customer.CustomerKind' >
     <option value="I">Individual</option>
     <option value="C">Company</option>
     </select>
      </p>
     <p>
    <p> <label>Client Name</label><input [(ngModel)] ='customer.CustomerName' /></p>
    <p *ngIf="customer.CustomerKind == 'C'"> <label>Contact Name</label><input [(ngModel)] ='customer.ContactName' /></p>
     <p><label>Client Mobile</label><input [(ngModel)] ='customer.CustomerMobile' /></p>
     <p><label>Client phone</label><input  [(ngModel)] ='customer.CustomerPhone' /></p>
     <p><label>Client Address St.</label><input  [(ngModel)] ='customer.CustomerAdressSt'  /></p>
     <p> <label>Client Address Town</label><input  [(ngModel)] ='customer.CustomerAddressTown' /></p>
     <p><label>Client Address Country</label><select  [(ngModel)] ='customer.CustomerAddressCountry' >
         <option  *ngFor="let country of countries" value="{{country.code}}">{{country.name}}</option>
         </select>
     </p>
      <button (click)="save()">Save Client</button>
       <div *ngIf="customer.CustomerModelID">
        <a class="btnlink button tra" (click)="viewTrackers(customer)" href="javascript:void(0);">View Trackers for this customer</a>
    </div>
    </div>
   
    </div>
</div>
<spin-loader *ngIf="showSpin"></spin-loader>