<h3>List of Devices belonging to {{customerName}}</h3>
<div class="paper" *ngIf="trackers">
    <button class="btn" (click)="addTracker()">Add Tracker</button>
    <table class="customers">
        <thead>
            <th>Vehicle Reg.</th>
            <th>Sim Number</th>
            <th>Status</th>
            <th>Comment</th>
            <th>model</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor='let tracker of trackers' (click)="showTracker(tracker)">
                <td>{{tracker.vehicleReg}}</td>
                <td>{{tracker.simNumber}}</td>
                <td>{{tracker.status}}</td>
                <td>{{tracker.comment}}</td>
                <td>{{tracker.model}}</td>
                <td (click)="stopProperg($event)">
                    <a href='javascript:void(0)' (click)="serviceForm($event, tracker)">service </a> ||
                     <a href='javascript:void(0)' (click)="serviceHistory($event, tracker.TrackerModelID)">service history </a> ||
                    <a href='javascript:void(0)' (click)="showModalFunc($event, tracker)">delete</a>
                
                 </td>
            </tr>
            
        </tbody>
    </table>
</div>
 <p class="right"><button class="btn" (click)="goBack()">Go Back</button></p>

  <div class="modal" *ngIf="showel">
   <div id="yesno" class="transo">
     <div style="position:relative">
     <div>
       <p id="yesnomessage"> Are you sure you want to delete this tracker ?</p>
     </div>
     <div><button id="ynyes" (click)="removeTracker()">YES</button><button (click)="hideDialog()" id="ynno">NO</button></div>
     </div>
   </div>
   </div>